@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Hegarty&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&family=Sixtyfour+Convergence&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}


:root {
    --letra: 'Science Gothic', Arial, Helvetica, sans-serif;
    --fundo: rgb(29, 29, 29);
    --cor1: rgb(67, 243, 27);
}

html {
    font-size: 1.2vw;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    background-color: var(--fundo);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    font-family: var(--letra);
    color: var(--cor1);
    text-align: center;
    text-transform: uppercase;
    margin-left: 10rem;
    margin-right: 10rem;
}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Arimo';
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: .5s;
}a:hover {
        transform: scale(1.1);
}section {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
}
#pergunta2,#pergunta3,#pergunta4,#pergunta5,#pergunta6,
#pergunta7,#pergunta8,#pergunta9, #pergunta10, #fim{
    display: none;
}
#quiz {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--fundo);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--cor1);
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
    border-radius: 1rem;
    width: 80%;
}.perguntas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
        text-align: center;
        font-family: var(--letra);
        color: var(--cor1);
    }
}.resposta {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        position: relative;
        border: 0.2rem solid var(--cor1);
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.2s;
        text-align: center;
    }div:hover {
        background-color: var(--fundoicon);
        transform: scale(1.03);
    }
}.finaliza {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    img {
        width: 10rem;
        height: 10rem;
        border: 0.2rem solid var(--cor1);
        border-radius: 50%;
    }
}.nivel {
    display: flex;
    align-items: center;
    gap: 1rem;
}.h2fim {
        text-align: center;
        font-family: var(--letra);
        color: var(--cor1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--cor2);
    color: white;
    margin-top: 4rem;
}






/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 1.8vw;
    }
    a:hover {
        transform: scale(1.0);
    }
section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}p {
    font-size: 1.6rem;
}h3 {
    font-size: 2rem;
}h1 {
    margin-left: 10rem;
    margin-right: 10rem;
}
#quiz {
    width: 90%;
}.resposta {
    grid-template-columns: auto;
    div {
        font-size: 1.6rem;
    }
}.finaliza {
    img {
        width: 20rem;
        height: 20rem;
        border: 0.3rem solid var(--cor1);
    }
}.nivel {
    flex-direction: column;
}

}



@media (max-width: 767px) {
    html {
        font-size: 2.8vw;
    }
    a:hover {
        transform: scale(1.0);
    }
section {
    padding-left: 3rem;
    padding-right: 3rem;
}

h1 {
    margin-left: 5rem;
    margin-right: 5rem;
}
#quiz {
    width: 90%;
}.resposta {
    grid-template-columns: auto;
    div {
        font-size: 1.6rem;
    }
}.finaliza {
    img {
        width: 10rem;
        height: 10rem;
        border: 0.3rem solid var(--cor1);
    }
}.nivel {
    flex-direction: column;
}
} 





